body, html {
    min-height: 100vh;
    padding: 0;
    min-height: 100vh; /* Pour couvrir toute la page, même si le contenu déborde */
    background: linear-gradient(to bottom, #6f0dc0, #ff00b3d5);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ligne-separation {
    border: none;            /* Supprime la bordure par défaut */
    height: 3px;             /* Épaisseur de la ligne */
    background-color: black; /* Couleur de la ligne */
    width: 100%;             /* Pleine largeur */
    margin: 10px 0 30px 0;   /* Marge autour de la ligne */
}

.bouton-home {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.bouton-home img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.bouton-home img:hover {
    transform: scale(1.2);
}

.boutons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width:100%;
}

.button {
    display: block;
    width: 80%;
    background-color: transparent;
    border: 2px solid transparent;
    color: black;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
}

.button::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;

}

.button:hover {
    color: white;
}

.button:hover::before {
    border-color: white;
}

.content {
    padding: 40px 0;
}
.center {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 40%;
    text-align: center;
}

button{
    all: unset;
    cursor: pointer;
}
.Concours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.Encadre-concours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 550px;              /* largeur de la card */
    height: auto;             /* hauteur de la card*/
    max-width: 600px;         
    max-height: 600px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;   /* Pour que padding ne casse pas la taille */
    text-decoration:none;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Images-concours{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    margin-bottom: 10px;
}

.texte-concours{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.titre-concours{
    text-align: center;
    margin-bottom: 10px;
}

.resume-concours{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 10px;
}

button:hover {
    color: white;
}

.Encadre-concours:hover{
    background-color:rgb(150, 150, 150);
    color: aliceblue;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Encadre-concours:hover .ligne-separation{
    background-color: aliceblue;
}

.Encadre-concours:hover .En-savoir-plus{
    color: aliceblue;
}